.home-header-menu {
	.MuiToolbar-root {
		display: flex;
		justify-content: space-between;
	}
	
	.MuiPaper-root {
		box-shadow: none;
	}
	
	.home-header-card {
		background-color: #009EE3;
		border-radius: 0px 0px 12px 12px;
		padding: 0px 20px;
		padding-top: 25px;
	}
	
	.MuiDivider-root {
		margin-top: 15px;
		background-color: white;
	}
	
	.arrow-top-button {	
		display: flex;
		justify-content: center;
		> * {
			margin-top: 15px;
			padding-bottom: 12px;
		}
	}
	
	.home-header-balance {
		color: white;
		
		> h3 {
			font-weight: 400;
			font-size: x-large;
		}
		
		> p {
		
		}
	}
}

.white-card-list,
.invisible-card-list {

	p {
		color: #676767;
		font-size: 13px;
	}
	
	padding-top: 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px;
	margin: 0 15px;
	
	> div {
		text-align: center;
		font-size: 15px;
		
		> p {
			padding-top: 5px;
		}
		
		> svg {
			position: relative;
			z-index: 1;
			top: -10px;
			
			+ p {
				position: relative;
				top: -19px;
				margin-bottom: -19px;
			}
		}
	}
	

	.MuiIconButton-root:hover {
		background-color: #009EE3;
	}
	
	.MuiIconButton-root {
		filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.34));
		height: 60px;
		width: 60px;		
		background-color: #009EE3;
		
		&:not(:first-child) { 
			margin-left: 20px;
		}
	}
}


.white-card-list {

	margin-top: 15px;
	border: 1px solid #DADADA;
	border-radius: 4px;
	padding: 0px 15px;
	padding-bottom: 25px;
	padding-top: 15px;

	.MuiIconButton-root:hover {
		background-color: #FFFFFF;
	}
	
	.MuiIconButton-root {
		filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.34));
		height: 60px;
		width: 60px;		
		background-color: #FFFFFF;

		&:not(:first-child) { 
			margin-left: 20px;
		}
	}
}

.white-card-with-header > header,
.white-card-with-header > main,
.white-card {

	display: flex;
	margin: 0 15px;
	margin-top: 25px;
	border: 1px solid #DADADA;
	border-radius: 4px;
	padding: 0px 15px;
	padding-bottom: 20px;
	padding-top: 15px;

}

.white-card {

	* {
		&:not(:first-child) {
			margin-left: 10px;
		}
	}
	
	p {
		color: #676767;
		font-size: 15px;
	}
	
	
}

.white-card-with-header {
	> header {

		color: #2AC93A;
		font-size: 15px;
	
		margin-top: 15px;
		margin-bottom: 0;
		border-radius: 4px 4px 0 0;
		border-bottom: none;
		padding: 10px 15px;
		
		padding-left: 8px;
		svg {
			margin-right: 5px;
			position: relative;
			top: 2px;
		}
	}
	
	> main {
		color: #676767;
		font-size: 15px;
	
		display: block;
		padding: 10px 15px;
		border-radius: 0 0 4px 4px;
		margin-top: 0;
		margin-bottom: 20px;
		
	}

}

.earn-cashback-card-list {
	border-style: none;
	grid-template-columns: 1fr 1fr 1fr;
	
	grid-gap: 20px;
	margin: 0;
	padding: 0;
	padding-top: 15px;
	
	img {
		height: 40px;
	}
	
	.MuiButtonBase-root {
		filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.34)) !important;
		width: 81px;
		height: 81px;
	}
}

.cashback-tag {

	p {
		font-size: 11px;
		color: white;
		position: relative;
		top: -30px;
		margin-bottom: -25px;
	}
	
	svg {
		position: relative;
		top: -12px;
	}
}